<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentInfo.Properties.Settings.Course_DataConnectionString"
            connectionString="Data Source=DESKTOP-UG8SN2H\SQLEXPRESS;Initial Catalog=Course_Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentInfo.Properties.Settings.StudentInformationConnectionString"
            connectionString="Data Source=DESKTOP-UG8SN2H\SQLEXPRESS;Initial Catalog=StudentInformation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StudentInfo.Properties.Settings.testsql2ConnectionString"
            connectionString="Data Source=DESKTOP-UG8SN2H\SQLEXPRESS;Initial Catalog=testsql2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>